In [63]:
# importamos todas las librerÃ­as que necesitamos

import pandas as pd
pd.options.display.max_columns = None
import re
import regex as re
import numpy as np
import datetime

### Pair Programming Pandas VII

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... ðŸ˜­. En los ejercicios de hoy pondremos en prÃ¡ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma mÃ¡s sencilla.

In [39]:
df = pd.read_csv("05-attacks_union.csv", index_col = 0)
df.head(5)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

### 1. Cread una columna nueva y una funciÃ³n que nos dÃ© el mes en el que ocurriÃ³ el ataque. 

Tened en cuenta que no todas las filas tienen la misma estructura 
y que puede que no haya la informaciÃ³n de mes. En ese caso devolved un nulo (NaN).
ðŸ’¡ Pista ðŸ’¡PodÃ©is usar regex.

In [64]:
date_unique = df["date"].unique()
date_unique

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., 'Mar-1803',
       'Reported Apr-13-1802', 'Reported 18-Dec-1801'], dtype=object)

In [41]:
df_reported = {col: col.replace("Reported ", "") for col in df}
df_reported.head(5)

AttributeError: 'dict' object has no attribute 'head'

In [104]:
def fecha(x):
    return re.findall(r"[A-Z]*[a-z]{2}")[0]

In [101]:
fecha(df)

TypeError: findall() missing 1 required positional argument: 'string'

In [105]:
df["Mes"] = df["date"].apply(fecha)

TypeError: findall() missing 1 required positional argument: 'string'

### 2. Vamos con la columna fatal_(y/n). 
Lo primero que tenÃ©is que hacer es evaluar los valores Ãºnicos que hay. EsperarÃ­amos tener solo dos valores: y y n, pero tristemente no serÃ¡ asÃ­ ðŸ˜­. Cread una columna nueva y una funciÃ³n que devuelva Ãºnicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [107]:
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [111]:
def yn(x):
    if x == "N":
        return "N"
    elif x == "Y":
        return "Y"
    elif x == " N":
        return "N"
    elif x == "N ":
        return "N"
    elif x == "y":
        return "Y"
    else:
        return np.nan

In [115]:
df["fatal"] = df["fatal_(y/n)"].apply(yn)
df.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,fatal_(y/n),injury,date,fatal
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,N
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018,N

In [117]:
df["fatal"].unique()

array(['N', 'Y', nan], dtype=object)

### 3. Seguid la misma lÃ³gica que en el ejercicio anterior pero con la columna sex. 
Pero en este caso vamos a incluir un retito mÃ¡s: En este caso querremos tener dos valores Ãºnicos F y M. De nuevo en la columna hay otros carÃ¡cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendrÃ©is que usar la librerÃ­a random). En caso de que sea nulo, que la funciÃ³n devuelva nulo (np.nan).

In [118]:
df["sex"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [119]:
def reemplazar_mf(x):
    if x == "F":
        return "F"
    elif x == "M":
        return "M"
    else:
        return np.nan

In [121]:
df["sex_fm"] = df["sex"].apply(reemplazar_mf)
df.head(5)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,href,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,fatal_(y/n),injury,date,fatal,sex_fm
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,N,F
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018,N,F
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018,N,M
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Minor injury to lower leg,08-Jun-2018,N,M
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018,N,M

In [124]:
df["sex_fm"].unique()

array(['F', 'M', nan], dtype=object)

### 4. Una vez que hayÃ¡is terminado eliminad las columnas originales conservando las nuevas.

In [127]:
df.drop(["fatal_(y/n)", "sex"], axis = 1, inplace = True)

In [129]:
df.head(5)

,case_number,year,type,country,area,location,activity,name,age,time,species,href,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,injury,date,fatal,sex_fm
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,N,F
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minor injury to left thigh,18-Jun-2018,N,F
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Injury to left lower leg from surfboard skeg,09-Jun-2018,N,M
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Minor injury to lower leg,08-Jun-2018,N,M
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018,N,M

### 5. Guardad el dataframe en un csv que usaremos mÃ¡s adelante.

In [ ]:
df.to_csv("07-attack.csv")